.left {
    text-align: left;
}

.center {
    width: 150px;
    margin: 0 42% auto;
}

.center2 {
    width: 85%;
}

html {
    background-color: #8E508A;
    color: #0D0D0D;
    padding: 1%;
}

.instructions {
    text-align: left;
}

h1 {
    margin-top: 0px;
}

.examples {
    width: 70%;
}

.left2 {
    text-align: left;
}

.play {
    background-color: #8C111B;
    border: none;
    border-radius: 25%;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    width: 10%;
    cursor: pointer;
}

.play:hover {
    background-color: black;
    color: #8C111B;
}